re: 2.2.1
ipykernel._version: 6.4.1
json: 2.0.9
jupyter_client._version: 6.1.12
zlib: 1.0
platform: 1.0.8
_ctypes: 1.1.0
ctypes: 1.1.0
zmq.sugar.version: 22.2.1
zmq.sugar: 22.2.1
zmq: 22.2.1
traitlets._version: 5.1.0
traitlets: 5.1.0
logging: 0.5.1.2
argparse: 1.1
jupyter_core.version: 4.8.1
jupyter_core: 4.8.1
jupyter_client: 6.1.12
ipykernel: 6.4.1
colorama: 0.4.4
_curses: b'2.2'
IPython.core.release: 7.29.0
pygments: 2.10.0
ptyprocess: 0.7.0
pexpect: 4.8.0
decorator: 5.1.0
pickleshare: 0.7.5
backcall: 0.2.0
wcwidth: 0.2.5
prompt_toolkit: 3.0.20
parso: 0.8.2
jedi: 0.18.0
urllib.request: 3.9
IPython: 7.29.0
ipython_genutils._version: 0.2.0
ipython_genutils: 0.2.0
dateutil: 2.8.2
six: 1.16.0
_decimal: 1.70
decimal: 1.70
distutils: 3.9.7
debugpy: 1.4.1
xmlrpc.client: 3.9
socketserver: 0.4
http.server: 0.6
pkg_resources._vendor.appdirs: 1.4.3
pkg_resources.extern.appdirs: 1.4.3
pkg_resources._vendor.packaging.__about__: 20.4
pkg_resources._vendor.packaging: 20.4
pkg_resources.extern.packaging: 20.4
pkg_resources._vendor.pyparsing: 2.2.1
pkg_resources.extern.pyparsing: 2.2.1
_pydevd_frame_eval.vendored.bytecode: 0.12.0
_pydev_bundle.fsnotify: 0.1.5
pydevd: 2.4.1
ctypes.macholib: 1.0
appnope: 0.1.2
numpy.version: 1.26.4
numpy.core._multiarray_umath: 3.1
numpy.core: 1.26.4
numpy.linalg._umath_linalg: 0.1.5
numpy: 1.26.4
packaging: 24.1
nibabel.pkg_info: 3.2.2
scipy: 1.13.1
nibabel: 3.2.2
pytz: 2021.3
numpy._core._multiarray_umath: 3.1
numexpr.version: 2.10.1
numexpr: 2.10.1
bottleneck: 1.4.0
_csv: 1.0
csv: 1.0
pandas._version_meson: 2.2.2
pandas: 2.2.2
PIL._version: 8.4.0
PIL: 8.4.0
defusedxml: 0.7.1
cffi: 1.16.0
PIL.Image: 8.4.0
pyparsing: 3.0.4
cycler: 0.10.0
kiwisolver: 1.3.1
matplotlib: 3.9.1.post1
seaborn.external.husl: 2.1.0
seaborn.external.appdirs: 1.4.4
scipy._lib.array_api_compat: 1.4.1
scipy._lib.array_api_compat.numpy: 1.26.4
scipy.linalg._fblas: 2.0.0rc2
scipy.linalg._flapack: 2.0.0rc2
scipy._lib.decorator: 4.0.5
scipy.sparse.linalg._eigen.arpack._arpack: 2.0.0rc2
scipy.sparse.linalg._propack._spropack: 2.0.0rc2
scipy.sparse.linalg._propack._dpropack: 2.0.0rc2
scipy.sparse.linalg._propack._cpropack: 2.0.0rc2
scipy.sparse.linalg._propack._zpropack: 2.0.0rc2
scipy.optimize._minpack2: 2.0.0rc2
scipy.optimize._lbfgsb: 2.0.0rc2
scipy.optimize._cobyla: 2.0.0rc2
scipy.optimize._slsqp: 2.0.0rc2
scipy.linalg._interpolative: 2.0.0rc2
scipy.integrate._vode: 2.0.0rc2
scipy.integrate._dop: 2.0.0rc2
scipy.integrate._lsoda: 2.0.0rc2
scipy.interpolate.dfitpack: 2.0.0rc2
scipy._lib._uarray: 0.8.8.dev0+aa94c5a4.scipy
scipy.stats._mvn: 2.0.0rc2
patsy.version: 0.5.6
patsy: 0.5.6
statsmodels._version: 0.14.2
statsmodels: 0.14.2
ipywidgets._version: 7.6.5
ipywidgets: 7.6.5
seaborn: 0.13.2
yaml: 6.0
moss.external.bunch: 1.0.1
moss: 0.5